includes:
    - %rootDir%/../../../config/phpstan/baseline.neon
parameters:
	excludePaths:
	    - %rootDir%/../../../vendor/*
	checkMissingIterableValueType: false
	treatPhpDocTypesAsCertain: false
	reportUnmatchedIgnoredErrors: true